<!DOCTYPE html>
<html>
  <head>
    <title>Messagerie Flask & RabbitMQ</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Messagerie Flask & RabbitMQ</h1>
    <div id="message-container"></div>

    <form id="message-form">
      <label for="message">Message:</label>
      <input type="text" id="message" name="message" />
      <button type="submit">Envoyer</button>
    </form>

    <script>
      $(document).ready(function () {
        var socket = io();

        socket.on("connect", function () {
          console.log("Connected to WebSocket");
        });

        socket.on("new_message", function (msg) {
          console.log(msg);
          $("#message-container").append("<p>" + msg.message + "</p>");
        });

        $("#message-form").submit(function (event) {
          event.preventDefault();
          var message = $("#message").val();
          socket.emit("send_message", { message: message });
          $("#message").val(""); // Clear the input field after sending
        });
      });
    </script>
  </body>
</html>
